body {background-color:Black; animation-name:example; animation-duration:7s; animation-iteration-count:infinite}
@keyframes example {
   from {background-color:black;} 
   to {background-color:brown;}
}
img {border-radius:50%;}
img {display: block; margin-left: auto; margin-right: auto;}
img {border: 5px solid #32a852;}
hl {color:#7c87f2; font-family:verdana;}
h2 {color:#f7a934; font-family:Arial;}
p {color:Azure; font-family:sans-serif}
table, th, td {border:1px solid black;}
